.afacad {
	font-family: "Afacad", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

body {
	--radius-s: 4px;
	--radius-m: 4px;
	--radius-l: 4px;
	--input-radius: 4px;
	--tab-radius-active: 4px;
	--checkbox-radius: 4px;
	--toggle-radius: 4px;
	--toggle-thumb-radius: 4px;
	--slider-thumb-radius: 4px;
	--font-text-theme: "Afacad", sans-serif;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.theme-light {
	--background-primary: #EFF7CF;
  }