@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
	--radius-s: 4px;
	--radius-m: 4px;
	--radius-l: 4px;
	--input-radius: 4px;
	--tab-radius-active: 4px;
	--checkbox-radius: 4px;
	--toggle-radius: 4px;
	--toggle-thumb-radius: 4px;
	--slider-thumb-radius: 4px;
	--font-text-theme: "Inter", sans-serif;
}

h1{
	font-family: "Afacad", sans-serif;
	font-weight: 700;
	font-family: 40px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.theme-light {
	--background-primary: #EFF7CF;
}

:root {
	--input-focus-outline: 1px solid Canvas;
	--input-unfocused-border-color: transparent;
	--input-disabled-border-color: transparent;
	--input-hover-border-color: yellow;
 }